<section class="product" id="trending">
  <div class="container py-5 ">
    <div class="row py-5 ">
      <div class="col-lg-5 m-auto text-center">
        <h1>What's Trending</h1>
        <h6 style="color: red">Be Healty Organic Food</h6>
      </div>
    </div>
    <div class="row">
      <!--Ürünler-->
      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/energy.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/120_copy-removebg-preview.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/beans.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/refill.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 text-center m-auto">
          <button class="btn1">Click for me</button>
      </div>
    </div>

  </div>
</section>
