<!--2. Place-->
<section class="new">
  <div class="container py-5">
    <div class="row pt-5">
      <div class="col-lg-7 m-auto">
        <div class="row text-center">
          <div class="col-lg-4">
            <img src="assets/svg/mango.jpg" class="img-fluid" alt="">
            <h6 class="mt-3">NATURAL</h6>
          </div>
          <div class="col-lg-4">
            <img src="assets/svg/grapes.jpg" class="img-fluid" alt="">
            <h6 class="mt-3">ORGANİC</h6>
          </div>
          <div class="col-lg-4">
            <img src="assets/svg/banana.jpg" alt="">
            <h6 class="mt-3">HEALTH</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

