<section class="about" id="organicSociaty">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-8 m-auto text-center">
        <h1>Welcome To Our Organic Food Sociaty</h1>
        <h6 style="color: red">Be Healty Organic food</h6>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-lg-4">
        <div class="card" style="width: 24rem;">
          <img src="assets/svg/woman.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Best Quality Product</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 24rem;">
          <img src="assets/svg/gf.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Organic Food</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 24rem;">
          <img src="assets/svg/woman.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Best Quality Food</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center m-auto py-4">
        <button class="btn1">Click for me</button>
      </div>
    </div>
  </div>
</section>
