<!--Shop-->
<section class="shop" id="exploreStore">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-8 m-auto text-center">
        <h1>Explore Our Store</h1>
        <h6 style="color: red">Pick Your Product From Our Store</h6>
      </div>
    </div>
    <!--Ürünler-->
    <div class="row">
      <!--Ürünler-->
      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/energy.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/120_copy-removebg-preview.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/beans.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/refill.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

    </div>
    <div class="row">
      <!--Ürünler-->
      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/energy.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/120_copy-removebg-preview.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/beans.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/refill.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

    </div>
    <div class="row">
      <!--Ürünler-->
      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/energy.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/120_copy-removebg-preview.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/beans.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

      <div class="col-lg-3 text-center">
        <div class="card border-0 bg-light mb-2">
          <div class="card-body">
            <img src="assets/svg/refill.png" class="img-fluid" alt="">
          </div>
        </div>
        <h6>Energy Food</h6>
        <p>39.99</p>
      </div>

    </div>
  </div>
</section>
