<section class="contact py-5" id="contact">
  <div class="container py-5">
    <div class="row ">
      <div class="col-lg-5 m-auto text-center">
        <h1>Contact Us</h1>
        <h6 style="color: red">Always Be In Touch With Us</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 m-auto">
        <div class="row mt-5">
          <div class="col-lg-4">
            <h6>LOCATİON:</h6>
            <p>Turkey / Antalya</p>

            <h6>PHONE:</h6>
            <p>***********</p>

            <h6>Email:</h6>
            <p>contactus@gmail.com</p>
          </div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control bg-light" placeholder="First Name">
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control bg-light" placeholder="Last Name">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-lg-12">
                <textarea name="" class="form-control bg-light" placeholder="Enter Your Note" id="" cols="30" rows="10"></textarea>
              </div>
            </div>
            <button class="btn1 mt-3">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
