<section class="news py-5">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-9 m-auto text-center">
        <h1>Join Our Secret Society</h1>
        <input type="email" class="px-3" placeholder="Enter Your E-mail">
        <button class="ms-2 btn2">Submit</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11">

        <div class="row m-auto text-center">
          <div class="col-lg-3 py-3">
            <h5 class="pb-3">CUSTOMER CARE</h5>
            <p>Regular</p>
            <p>On Time</p>
            <p>Always Care</p>
          </div>
          <div class="col-lg-3 py-3">
            <h5 class="pb-3">CUSTOMER CARE</h5>
            <p>Regular</p>
            <p>On Time</p>
            <p>Always Care</p>
          </div>
          <div class="col-lg-3 py-3">
            <h5 class="pb-3">CUSTOMER CARE</h5>
            <p>Regular</p>
            <p>On Time</p>
            <p>Always Care</p>
          </div>
          <div class="col-lg-3 py-3">
            <h5 class="pb-3">CUSTOMER CARE</h5>
            <span class="mx-3 "><i class=" fab fa-facebook"></i></span>
            <span class="mx-3 "><i class="fab fa-instagram"></i></span><br>
            <span class="mx-3 "><i class="fab fa-twitter"></i></span>
            <span class="mx-3 "><i class="fab fa-google-plus"></i></span>
          </div>
        </div>

      </div>
    </div>
    <hr>
    <p class="text-center">Copyright 2021 All rights reserved | This template is made with by Alperen Ergül</p>
  </div>
</section>
